Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^config/ - [F,L,NC]
RewriteRule ^install/schema\.sql$ - [F,L,NC]
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
</IfModule>
