<?php
return [
    'db_host' => 'localhost',
    'db_port' => 3306,
    'db_name' => 'ovh_db_name',
    'db_user' => 'ovh_db_user',
    'db_pass' => 'ovh_db_password',
    'domain' => 'meteo13.fr',
    'admin_path' => '/admin-meteo13',
    'app_version' => '1.0.0',
    'session_timeout_seconds' => 2592000,
];
